[submodule "ThirdParty/libmysofa"]
	path = ThirdParty/libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "ThirdParty/sqlite"]
	path = ThirdParty/sqlite
	url = https://github.com/sqlite/sqlite.git
